<mat-card class="todo-card">
    <mat-card-header>
      <mat-card-title class="todo-title">{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Enter an item</mat-label>
        <input matInput #task placeholder="Enter an item">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addTask(task.value)">Add Task</button>
    </mat-card-content>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of list">
          {{item.name}}
          <button mat-icon-button color="warn" (click)="removeTask(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  