<h2 class="mb-4 text-center mt-5">{{ title }}</h2>

<form [formGroup]="loginForm" (ngSubmit)="userLogin(loginForm.value)" class="w-50 mx-auto">
    <div class="mb-3">
      <label for="user" class="form-label">Username</label>
      <input
        type="text"
        id="user"
        class="form-control"
        placeholder="Enter Name"
        formControlName="user"
      />
      <div *ngIf="user?.invalid && user?.touched" class="text-danger mt-1">
        This field is invalid
      </div>
    </div>
  
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Enter Password"
        formControlName="password"
      />
      <div *ngIf="password?.invalid && password?.touched" class="text-danger mt-1">
        This field is invalid
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  
    <br><br>
    <h2>{{ userName | uppercase }}</h2>
    <br><br>
    <h2>{{ userPassword | lowercase }}</h2>
  </form>