/* app.component.css */
.container {
  padding: 16px;
}

.table td {
  word-break: break-word; /* Ensures long text wraps nicely */
}

.MuiTableCell-root {
  vertical-align: middle;
}

.MuiTypography-root {
  color: #333;
}

.MuiListItemText-primary {
  font-weight: bold;
}
